<button type="button" class="btn btn-info" (click)="openDialog()">Code</button>
<hr />

<img src="assets/HQ/HQ1.gif"> <img src="assets/HQ/HQ2.gif"> 

<p class="grey-text mb-md-0 mb-5">
  If you haven't heard of HQTrivia, take  a 
Let me be clear that I have NEVER used to win money in a live game, and I ommited my main file source code for that very reason.
  </p>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-outline-danger" (click)="close()">Close</button>
</mat-dialog-actions>