<!-- Page Heading -->
<div [@itemFallAnimation] class="mb-20">
  <h2 class="mt-4 ml-4" style="" id=projects>Projects
    <!-- <small>Secondary Text</small> -->
  </h2>
  <h5 class="ml-4">Click on a project to view more. </h5>
  <p class="ml-4"><i>All of these projects are relatively small. I've worked on several enterprise level applications,
      but
      due to non-disclosures I can't provide more information apart from an interview.</i> </p>
  <i class="ml-4">Alternatively, these projects and more can be viewed on my GitHub <a
      href='https://github.com/chrisanderson27' target='_ blank'>https://github.com/chrisanderson27</a> </i>

  <!-- <div *ngIf="test==='other'">OTHER</div>
  <div *ngIf="test==='mobile'">MOBILE</div> -->
  <mat-tab-group (selectedTabChange)="updateMessage($event)" animationDuration="350ms">
    <mat-tab label="Web Based">
      <app-other-projects class="mt-2" *ngIf="test==='other'"></app-other-projects>
      <div class="whiteSpaceTemplate"></div>
    </mat-tab>
    <mat-tab label="Mobile">

      <app-mobile-projects class="mt-2" *ngIf="test==='mobile'"> </app-mobile-projects>
      <div class="whiteSpaceTemplate"></div>

    </mat-tab>
    <mat-tab label="Back-End">
      <app-full-stack-projects class="mt-2" *ngIf="test==='back'"> </app-full-stack-projects>
      <div class="whiteSpaceTemplate"></div>

    </mat-tab>
    <!-- <mat-tab label="Full Stack">
    <app-full-stack-projects></app-full-stack-projects>
  </mat-tab> -->
  </mat-tab-group>
</div>
