<!-- Page Heading -->
<div  [@itemFallAnimation]>
<h1 class="my-4" style="margin-left: 20px" id=projects>My Projects
  <!-- <small>Secondary Text</small> -->
</h1>
<mat-tab-group (selectedTabChange)="updateMessage($event)">
  <mat-tab label="Web based">
    <app-other-projects></app-other-projects>
  </mat-tab>
  <mat-tab label="Mobile">
    <app-mobile-projects> </app-mobile-projects>
  </mat-tab>
  <!-- <mat-tab label="Full Stack">
    <app-full-stack-projects></app-full-stack-projects>
  </mat-tab> -->
</mat-tab-group>
</div>