<div class="jumbotron animated fadeIn" id=contact>
  <h1 class="display-5 text-center">Contact</h1>
  <hr class="my-4 text-center">
  <h6 class="text-center">Christopher Anderson</h6>
  <a href="mailto:chrisanderson@myself.com" class="text-center mx-auto d-block">chrisanderson@myself.com</a>

  <div class="container">
    <div class="row text-center mx-auto d-block">

      <span>
        <a href="https://github.com/chrisanderson27" target="_blank">
        <i class="fab fa-github"></i>
        </a>
        </span>
        <span>
          <a href="https://www.linkedin.com/in/chrisaaxx/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
        </span>
        <span>
          <a href="https://www.facebook.com/chrisanderson03336" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
        </span>
    </div>
  </div>
</div>