<!-- Section: Features v.1 -->
<section [@itemFallAnimation] class="text-center my-5 AboutMe animated fadeIn" id=about>
  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold my-3">About Me</h1>

  <a href="https://chrisanderson27.github.io/chrisanderson/assets/Resume/resume.pdf" target="_blank">
    <button type="button" class="btn btn-outline-dark">View My Resume</button>
  </a>

  <!-- Section description -->
  <p class="lead grey-text w-responsive mx-auto mb-5">I'm 24 years old, live in Atlanta, GA, and I graduated from
    Georgia Southern in 2017 with a BS in Computer Science. Since graduating I've lived in China for a year, and also
    completed a full stack coding bootcamp in December of 2018. I love working on personal projects, a few of which
    I've posted here. I'm always interesting in hearing about new idea's, oppurtinties, or projects so feel
    free to send me an email.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">
      <i class="fa fa-database fa-4x"> </i>
      <h5 class="font-weight-bold my-4">Back End</h5>
      <p class="grey-text mb-md-0 mb-5"> </p>
      <div class="text-center mx-auto d-block">
        <div class='text-center mx-auto d-block h6'>
          <li>Java</li>
          <li>Spring</li>
          <li>SpringBoot</li>
          <li>Hibernate</li>
          <li>Oracle SQL</li>
          <li>jUnit Testing</li>
          <li>MVC Design</li>
          <li>RESTful Services</li>
          <li>Node.js/Express.js</li>
          <li>MongoDB</li>
          <li>Google Firebase</li>
        </div>

      </div>

    </div>

    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fa fa-code fa-4x"></i>
      <h5 class="font-weight-bold my-4">Front End</h5>
      <p class="grey-text mb-md-0 mb-5">
      </p>

      <div class='text-center mx-auto d-block h6'>
        <li>Angular 7</li>
        <li>React</li>
        <li>Redux</li>
        <li>HTML 5</li>
        <li>JQuery</li>
        <li>CSS 3</li>
        <li>Javascript</li>
        <li>Selenium Web Testing</li>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fa fa-mobile fa-4x"></i>
      <h5 class="font-weight-bold my-4">Mobile</h5>
      <p class="grey-text mb-0">I've developed multiple full-fledged applications for both iOS and Android using Swift,
        Java with Android Studios, and React-Native.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <div class="text-center">
    <i style="color: grey">
      *This website was developed by myself with Angular 7. MatDialogs are used for generating project and source code
      views, and a single component, source-code-view, is re-rendered to display the source code of the project
      currently being
      viewed.
    </i>
  </div>

</section>
<!-- Section: Features v.1 -->