<div class="d-flex flex-row bd-highlight mb-3">
  <div class="d-block">
    <h3 class="p-2 bm-0">Platform</h3>
    <hr />
  <div class="p-2 mobileNavButton"><button class="btn btn-outline-secondary">iOS</button></div>
  <div class="p-2 mobileNavButton"><button class="btn btn-outline-secondary">Android</button></div>
  <div class="p-2 mobileNavButton"><button class="btn btn-outline-secondary">React Native</button></div>
</div>

  <div class="p-2 bd-highlight">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#" onclick="return false" (click)="openDialog('ColorSwitch')">
              <img class="card-img-top mx-auto d-block" src="assets/ColorSwitch/home.gif" alt="" style="width: 40%; height: 40%; text-align: center"
                onclick="return false" (click)="openDialog('ColorSwitch')"></a>
            <div class="card-body mx-auto">
              <h4 class="card-title d-block">
                <a href="#" onclick="return false" (click)="openDialog('ColorSwitch')">Color Switch (Recreation) - iOS</a>
              </h4>
              <!-- <p class="card-text"></p> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#" onclick="return false" (click)="openDialog('Todo')">
              <img class="card-img-top mx-auto d-block" src="assets/TodoList/todoAction.gif" alt="" style="width: 40%; height: 40%; text-align: center"
                onclick="return false" (click)="openDialog('Todo')"></a>
            <div class="card-body mx-auto">
              <h4 class="card-title">
                <a href="#" onclick="return false" (click)="openDialog('Todo')">Todo List - iOS</a>
              </h4>
              <!-- <p class="card-text"></p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#" onclick="return false" (click)="openDialog('space')">
              <img class="card-img-top mx-auto d-block" src="assets/space.gif" alt="" style="width: 40%; height: 40%; text-align: center"
                onclick="return false" (click)="openDialog('space')"></a>
            <div class="card-body mx-auto">
              <h4 class="card-title">
                <a href="#" onclick="return false" (click)="openDialog('space')">Space Game - iOS</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#" onclick="return false" (click)="openDialog('chat')">
              <img class="card-img-top mx-auto d-block" src="assets/chat.gif" alt="" style="width: 60%; height: 60%; text-align: center"
                onclick="return false" (click)="openDialog('chat')"></a>
            <div class="card-body mx-auto">
              <h4 class="card-title">
                <a href="#" onclick="return false" (click)="openDialog('chat')">Chat App - iOS</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#" onclick="return false" (click)="openDialog('sceneKit')">
              <img class="card-img-top mx-auto d-block" src="assets/sceneKit.gif" alt="" style="width: 40%; height: 40%; text-align: center"
                onclick="return false" (click)="openDialog('sceneKit')"></a>
            <div class="card-body mx-auto">
              <h4 class="card-title">
                <a href="#" onclick="return false" (click)="openDialog('sceneKit')">Scene Kit Demo - iOS
                </a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>