.portfolio-item {
    margin: 10px 0px 10px;
}

.card-img-top {
    margin: 7% 0 3%;
    width: 40%; 
    height: auto; 
    text-align: center;
}

.mobileNavButton {
    /* margin: 10px 10px; */
}

#chat {
    width: 70%;
}
/* 
#space {
    size: 10%;

} */