<div class="container">


  <div class="row">

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#" onclick="return false" (click)="openDialog('ColorSwitch')">
          <img class="card-img-top mx-auto d-block" src="../../../../../assets/ColorSwitch/home.gif" alt="" style="width: 40%; height: 40%; text-align: center"
            onclick="return false" (click)="openDialog()"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Color Switch (Recreation)</a>
          </h4>
          <p class="card-text">This is one of the first games I remember playing on my iPhone, so for one of the first apps I ever created, I wanted to give it a go at recreating it. </p>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project One</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum
            quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum
            tempora ex quae? Nihil, dolorem!</p>
        </div>
      </div>
    </div>



    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project One</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum
            quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum
            tempora ex quae? Nihil, dolorem!</p>
        </div>
      </div>
    </div>
  </div>
</div>