<!-- Page Heading -->
<h1 class="my-4" style="margin-left: 20px">Source Code
  <!-- <small>Secondary Text</small> -->
</h1>

<mat-tab-group>
  <mat-tab label="HTML">
    <mat-dialog-content>
      <pre>
    {{html}}
  </pre>
    </mat-dialog-content>
  </mat-tab>
  <mat-tab label="COMPONENT">
    <mat-dialog-content>
      COMPONENT
    </mat-dialog-content>
  </mat-tab>
  <mat-tab label="CSS">
    <mat-dialog-content>
      CSS
    </mat-dialog-content>
  </mat-tab>
</mat-tab-group>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>