<button type="button" class="btn btn-info" (click)="openDialog()">Code</button>
<hr />

<div class="text-center">
    <h3>About this project: </h3>
    <p>This is one of the first games I remember playing on my iPhone, so for one of the first apps I ever created, I wanted to give it a go at recreating it. </p>
<img src="assets/ColorSwitch/action.gif" />
</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)='close()' class="btn btn-outline-danger">Close</button>
</mat-dialog-actions>