<!-- <pre>{{myForecastData | json}}</pre>
<!-- {{myForecastData}} -->


<!-- <h1 style="text-align:center">5 Day Forecast</h1>


  <canvas style="width: 10%; height: 10%" baseChart [datasets]="lineChartData" [colors]="lineChartColors" [labels]="lineChartLabels" [legend]="lineChartLegend"
    [options]="lineChartOptions" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>


<div class="chartBtn btn btn-outline-secondary" style="margin-top: 10px; height: 50%">
  <button (click)="randomizeType()" style="display: inline-block">{{currentGraphBtnName}}</button>
</div>
</div>

<br>
<div class=container id='weatherResults'>
  <div class=item id=item1 *ngFor="let weatherObj of myForecastDataList">
    <h4>{{weatherObj.date}}</h4>
    <img src={{weatherObj.imageUrl}} /><br>
    <h4>{{weatherObj.title}},
      {{weatherObj.country}}</h4><br>
    <b>{{weatherObj.description}}</b><br><br>
    Low of {{weatherObj.low}}°F<br>
    High of {{weatherObj.high}}°F<br>
    <!-- {{weatherObj.main}}<br> -->
    <!--<br>
    <br>
  </div>
</div>
<script src="node_modules/chart.js/src/chart.js"></script> -->
