<div class="container">
  <div class="row">
    <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->

 

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100 " style="padding-top: 25px">
        <a href="#" onclick="return false" (click)="openDialog('hqTracker')"><img class="card-img-top mx-auto d-block"
            src="assets/HQ/HQ1.gif" style="height: 75%; width: 75%;" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" onclick="return false" (click)="openDialog('hqTracker')">HQ Trivia Hack</a>
          </h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#" onclick="return false" (click)="openDialog('weather')"><img class="card-img-top" src="assets/Weather/weather.gif"
              alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" onclick="return false" (click)="openDialog('weather')">Weather Forecast</a>
            </h4>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#" onclick="return false" (click)="openDialog('imageSelector')">
            <img class="card-img-top mx-auto d-block " src="assets/ProjectThumbnails/captcha.png" alt="" style="width: 60%; height: 60%;"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" onclick="return false" (click)="openDialog('imageSelector')">CAPTCHA Selector</a>
            </h4>
            <p class="card-text"></p>
          </div>
        </div>
      </div>

   
  </div>
</div>