<!-- <div class="d-flex flex-row bd-highlight"> -->
  <!-- <div class="p-2 bd-highlight"> -->
    <div class="container d-flex">
      <!--  -->
      <div class="row " [@listAnimation]="projects.length" >
        <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let project of projects">
          <div class="card h-100">
            <a href="#" onclick="return false" (click)="openDialog(project[0])">
              <img id={{project[0]}} class="card-img-top mx-auto d-block" src={{project[1]}} alt="" onclick="return false"
                (click)="openDialog(project[0])"></a>
            <div class="card-body mx-auto">
              <h4 class="card-title d-block text-centered">
                <a class="text-centered" href="#" onclick="return false" (click)="openDialog(project[0])">{{project[2]}}</a> </h4>
            </div>
          </div>
        </div>

      <!-- </div> -->

    <!-- </div> -->
  </div>
</div>