.portfolio-item {
    margin: 10px 0px 10px;
}

#hqTracker {
    margin: 7% 0 3%;
    width: 75%;
}

#imageSelector {
    width: 60%;
}

#weather {
    margin-top: 5%;
    width: 90%;
}

#stickies {
    margin-top: 5%;
    width: 75%;
}

#timeSlots{
    margin-top: 7%;
    width: 75%;
}

#chatApp {
    margin-top: 7%;
    width: 80%;
}