<button type="button" class="btn btn-info" (click)="openDialog()">Code</button>
<hr />
<div class="text-center">
  <h3>About this Project:</h3>
  <p>A functional Todo List app for iOS. Written in Swift and using Realm for data persistence, the user can create a category and then tasks can be added within them. These tasks can then be searched, deleted, or marked as completed. The category field is given a random color, and all sub - tasks are given a color gradient of its parent.</p>
<img src="assets/TodoList/todoAction.gif">
</div>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-outline-danger" (click)="close()">Close</button>
</mat-dialog-actions>