<header [@itemFallAnimation]>
  <div class="overlay"></div>
  <img class="img-fluid" src="assets/backdrop.jpg">
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3 animated fadeIn">Chris Anderson</h1>
        <h2>Full Stack Developer</h2>
        <br />
        <h3>
          <a href="#" onclick="return false" (click)="scrollToId('projects')">Projects </a> •
          <a href="#" onclick="return false" (click)="scrollToId('about')">About</a> •
          <a href="#" onclick="return false" (click)="scrollToId('contact')">Contact</a></h3>
      </div>

    </div>
  </div>
</header>