<header>
  <div class="overlay"></div>

  <!-- <iframe src="https://drive.google.com/file/d/1kEUFTHLZWH8F7-H7n_zZj9r_OgKjSIIZ/preview?autoplay=1">
  </iframe> -->

  <!-- <video playsinline="playsinline" autoplay="autoplay" controls muted="muted" loop="loop">
    <source src="assets/china_final.mp4" type="video/mp4">
  </video> -->

  <img src="assets/china.jpg">

  <!-- <iframe frameborder="0" height="100%" width="100%" 
    src="https://youtube.com/embed/ID?autoplay=1&controls=0&showinfo=0&autohide=1">
  </iframe> -->

  <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JH5Qncvz7SQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

  <!-- <iframe id="ytplayer" type="text/html" width="100%" 
  height="100%" src="https://www.youtube.com/embed/JH5Qncvz7SQ?autoplay=1&controls=0&fs=0&loop=1&start=2"
  frameborder="0" allowfullscreen> </iframe> -->

  <!-- <iframe id="ytplayer" type="text/html" width="100%" height="100%"
src="https://www.youtube.com/embed/JH5Qncvz7SQ?autoplay=1&controls=0&fs=0&loop=1&start=2"
frameborder="0" allowfullscreen></iframe> -->

    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Chris Anderson</h1>
          <h2>Full Stack Developer</h2>
          <br />
          <h3>
            <a href="#" onclick="return false" (click)="scrollToId('projects')">Projects </a> •
            <a href="#" onclick="return false" (click)="scrollToId('about')">About</a> •
            <a href="#" onclick="return false" (click)="scrollToId('contact')">Contact</a></h3>
        </div>

      </div>
    </div>
</header>
<!-- <video playsinline="playsinline" autoplay="autoplay" controls muted="muted" loop="loop">
    <source src="https://drive.google.com/file/d/1kEUFTHLZWH8F7-H7n_zZj9r_OgKjSIIZ/preview" type="video/mp4">
  </video> -->

<!-- <source src="https://drive.google.com/file/d/1kEUFTHLZWH8F7-H7n_zZj9r_OgKjSIIZ/preview" type="video/mp4"> -->

  <!-- <iframe id="ytplayer" type="text/html" width="100%" 
  height="100%" src="https://www.youtube.com/embed/JH5Qncvz7SQ?autoplay=1&controls=0&disablekb=1&fs=0&loop=1&modestbranding=1"
    frameborder="0" allowfullscreen></iframe> -->