<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" controls muted="muted" loop="loop">
    <source src="../../../../assets/China.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Chris Anderson</h1>
        <h2>Full Stack Developer</h2>
        <br/>
        <h3><a href="#">Projects  </a>  •  <a href="#">About</a> • <a href="#">Contact</a></h3>
      </div>
    </div>
  </div>
</header>