<button type="button" class="btn btn-info" (click)="openDialog()">Code</button>
<hr />

<div class="text-center">
  <h3>About this project:</h3>
  <p>
    This project hits OpenWeatherAPI for individual days, as well as the 5 day forcast for a given zip code. The highs and lows for each day are then graphically represented.
  </p>
</div>
<div class='searchDiv'>
  <h3>Weather Search App</h3>

  <!-- <label>City:</label> <input type="text" [(ngModel)]="city">
  <button (click)='getByName()' value='atlanta'>Search</button>
  <br>
  <label>Zip:</label> <input type="number" [(ngModel)]="zip">
  <button (click)='getByZipController()'>Search</button>
  <br> -->
  <!-- </div> -->

  <form class="zipForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter A Zip Code" [(ngModel)]="zip" value="30350" name=test>
    </mat-form-field><br>
    <button class="btn btn-warning" (click)='getByZip()'>Show Five Day Forecast</button>
  </form>
</div>


<!-- <div class=container id='weatherResults'>
  <div class=item id=item1 [hidden]='amIHidden' *ngIf="myWeatherObj">
    <h4>Today</h4>
    <img src={{myWeatherObj.imageUrl}} /><br>
    <h4>{{myWeatherObj.title}},
      {{myWeatherObj.country}}</h4><br>
    Description: <b>{{myWeatherObj.description}}</b><br>
    High of {{myWeatherObj.high}}°F<br>
    Low of {{myWeatherObj.low}}°F<br>
    Pressure: {{myWeatherObj.pressure}}<br>
    Humidity: {{myWeatherObj.humidity}}<br>
    Speed: {{myWeatherObj.speed}}<br>
    <br>
  </div>
</div> -->
<div *ngIf=forecast>
  <h1 style="text-align:center">5 Day Forecast {{currentCityTitle}}</h1>

  <div class='chart mx-auto d-block' style="height: 60%; width: 60%;">
    <!-- <h2 style="text-align:center">Highs and Lows of <i>{{myForecastDataList[0].title}}, {{myForecastDataList[0].country}}</i></h2> -->

    <canvas baseChart [datasets]="lineChartData" [colors]="lineChartColors" [labels]="lineChartLabels" [legend]="lineChartLegend"
      [options]="lineChartOptions" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>


    <div class="chartBtn mx-auto d-block" style="margin-top: 10px; height: 50%">
      <button class="btn btn-outline-secondary mx-auto d-block" (click)="randomizeType()" style="display: inline-block">{{currentGraphBtnName}}</button>
    </div>
  </div>

  <br>
  <div class=container id='weatherResults'>
    <div class=item id=item1 *ngFor="let weatherObj of myForecastDataList" style="margin: 0px 10px">
      <h4>{{weatherObj.date}}</h4>
      <img src={{weatherObj.imageUrl}} /><br>
      <h4>{{weatherObj.title}},
        {{weatherObj.country}}</h4><br>
      <b>{{weatherObj.description}}</b><br><br>
      Low of {{weatherObj.low}}°F<br>
      High of {{weatherObj.high}}°F<br>
      <!-- {{weatherObj.main}}<br> -->
      <br>
      <br>
    </div>
  </div>

</div>
<br />
<div class="text-center">
  <i style="color: red">
    *Depending on the time of day, only 4 days will be shown instead of 5. This is due to restrictions of the free
    version of the OpenWeatherAPI.
  </i>
</div>
<script src="node_modules/chart.js/src/chart.js"></script>

<!-- <router-outlet></router-outlet> -->
<br />
<br />
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-outline-danger" (click)="close()">Close</button>
</mat-dialog-actions>